body {
    background-color: #C6DEF1;
    color: #5c5431;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding:15px
}
h1 {
    background-color: #DBCDF0;
    text-align: center;
    position: relative;
    margin-top: -1px;
    border-radius: 8px;
}

.inputs {
    padding-top: auto;
    margin-top: auto;
}

textarea {
    vertical-align: left;
    resize:vertical;
    height:auto;
    min-height: 25px;
    width:100%;
    overflow:hidden;
    display: inline;
    border-radius: 8px;
    border-color: #C6DEF1;
    border-width: 3px;
    font-family: inherit;
    font-size: 20px;
}

label {
  display: block;
}

#counter {
    color: #5c5431;
    float:right;
    padding: 0.1rem 0 0 0;
    font-size:0.875;
}

#done {
    position: relative;
    border-radius: 8px;
    border-color: #DBCDF0;
    width:5%;
    min-width: 58px;
    height:auto;
    background-color:#DBCDF0;
}

#when {
    border-radius: 8px;
    border-color: #C6DEF1;
    font-family: inherit;
    width:110px;
    background-color:#DBCDF0;
}

/* .container{
    display: inline-grid;
    width:100%;
    height: fit-content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;    
    border: 1px solid #eee;
    overflow:auto;
} */
.output {
    font-style: italic;
    list-style: none;
    padding:5px;
    display: inline-grid;
    grid-template-rows: auto;
    gap: 2%;
}

li {
    text-align: left;
    margin-right: auto;
}

li:last-child {
    grid-column: blogEntry;
}

.inputs:focus {
    outline: none !important;
    border:3px solid #DBCDF0;
    box-shadow: 0 0 1px #FAEDCB;
}

#when:focus {
    outline: none !important;
    border:3px solid #DBCDF0;
    box-shadow: 0 0 1px #FAEDCB;
}

#when:hover {
    background-color: #F2C6DE;
}

#done:hover {
    background-color: #F2C6DE;
}

/* Style the navigation menu */
.sidenav {
    height:100%;
    width:fit-content;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    background-color: #C9E4DE;
    border-radius: 8px;
    transition: 0.5s;
}
  
/* Hide the links inside the navigation menu (except for logo/home) */
.sidenav #myLinks {
    display: none;
}

/* Style navigation menu links */
.sidenav a {
    color: #5c5431;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    transition: 0.5s;
}

/* Style the hamburger menu */
.sidenav a.icon {
    background: #C9E4DE;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.sidenav a:hover {
    background-color: #FAEDCB;
    color: black;
}
  
/* Style the active link (or home/logo) */
.active {
    background-color: #C9E4DE;
    color: white;
    float: inline-end;
}

.sidenav .icon {
    position:absolute;
    top: 0;
    right:25px;
    margin-left: 50px;
}

#main {
    transition: margin-left.5s;
    padding: 20px;
}

button {
    font: inherit;
    background-color: inherit;
    border: inherit;
    color: inherit;
    }

button:hover {
    background-color: #C9E4DE;
}

#image {
    height: 5%;
    width:auto;
}