body {
    background-color: #000000;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding:15px
}
h1 {
    background-color: #808080;
    text-align: center;
    position: relative;
    margin-top: -1px;
    border-radius: 8px;
}

.inputs {
    padding-top: auto;
    margin-top: auto;
}

textarea {
    vertical-align: left;
    resize:none;
    display: inline;
    border-radius: 8px;
}

#counter {
    color: grey;
    float:right;
    padding: 0.1rem 0 0 0;
    font-size:0.875;
}

#done {
    position: relative;
    border-radius: 8px;
    width:5%;
    min-width: 58px;
    height:auto;
}