body {
    background-color: #000000;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding:15px
}
h1 {
    background-color: #808080;
    text-align: center;
    position: relative;
    margin-top: -1px;
    border-radius: 8px;
}

.inputs {
    padding-top: auto;
    margin-top: auto;
}

textarea {
    vertical-align: left;
    resize:vertical;
    height:auto;
    min-height: 25px;
    width:100%;
    overflow:hidden;
    display: inline;
    border-radius: 8px;
    font-family: inherit;
    font-size: 20px;
}

label {
  display: block;
}

#counter {
    color: grey;
    float:right;
    padding: 0.1rem 0 0 0;
    font-size:0.875;
}

#done {
    position: relative;
    border-radius: 8px;
    width:5%;
    min-width: 58px;
    height:auto;
    background-color:lightgrey;
}

#when {
    border-radius: 8px;
    font-family: inherit;
    width:110px;
    background-color:lightgrey;
}

/* .container{
    display: inline-grid;
    width:100%;
    height: fit-content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;    
    border: 1px solid #eee;
    overflow:auto;
} */
.output {
    font-style: italic;
    list-style: none;
    padding:5px;
    display: inline-grid;
    grid-template-rows: auto;
}

li {
    text-align: left;
    margin-right: auto;
}

li:last-child {
    grid-column: blogEntry;
}
